# version with git hash added - created as part of release process
version_git.txt
# editor files
\#*
*~
# temp files
nohup.out
##
## cache dirs
##
#internal file osx
.DS_Store
# blast results
results/*/**.csv
results/*/*
results/.merge*
# blast DB
blast/
# Blast DB files
*.ndb
*.nhr
*.nin
*.not
*.nsq
*.ntf
*.nto
# SLuRM files
logs/
log.*
# conda environments
conda/
# downloaded fasta
*.fa
fasta_new_vmr_b/
fasta_new_vmr_a/
fasta_new_vmr/
# intermediate files
fixed_vmr_*.tsv
refseq*/

