[submodule "test_data/export/ICTVdatabase"]
	path = test_data/export/ICTVdatabase
	url = git@github.com:ICTV-Virus-Knowledgebase/ICTVdatabase.git
[submodule "VMR_MSL40v2_20260223/ICTVdatabase_20260223"]
	path = VMR_MSL40v2_20260223/ICTVdatabase_20260223
	url = git@github.com:ICTV-Virus-Knowledgebase/ICTVdatabase.git
[submodule "VMR_MSL41v1_20260320/MSL41v1"]
	path = VMR_MSL41v1_20260320/MSL41v1
	url = git@github.com:ICTV-Virus-Knowledgebase/ICTVdatabase.git
	branch = main
[submodule "VMR_MSL41v1.20260625/MSL41v1"]
	path = VMR_MSL41v1.20260625/MSL41v1
	url = git@github.com:ICTV-Virus-Knowledgebase/ICTVdatabase.git
	branch = test
